<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation-based configuration -->
    <context:annotation-config/>

    <bean id="student" class="com.dependencyinjection.Student">
        <property name="id" value="1"/>
        <property name="name" value="farhaan"/>
<!--        <property name="address" ref="addr" />-->
    </bean>

    <bean id="student2" class="com.dependencyinjection.Student">
        <property name="id" value="12"/>
        <property name="name" value="syed"/>
<!--        <property name="address" ref="addr" />-->
    </bean>


    <bean class="com.dependencyinjection.Address" name="addr">
        <constructor-arg name="houseNo" value="15-5-6/a"/>
        <constructor-arg name="location" value="Hyderabad"/>
        <constructor-arg name="pinCode" value="500002"/>
    </bean>



    </beans>